page-login {
  //.scroll-content {
  //  background: linear-gradient(#dfe5ef, #ffffff) !important;
  //}
  .empty-logo {
    width: 6em;
    height: 1.8em;
    margin-top: 1em;
    margin-left: 2.7em;
  }
  .title {
    margin-left: 1em;
    margin-top: 1em;
    font-size: 2.5em;
    //ffont-family: Nunito;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
  }
  .sub-title {
    margin-top: 1em;
    margin-left: 2em;
    color: #a0a0a0;
    font-size: 1.35em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
  }
  .remind-btn {
    width: 55%;
    margin-left: 22.5%;
    margin-right: 22.5%;
    background-color: #6be280;
    font-size: 1em;
  }
  .input-username {
    border-radius: 3px;
    background-color: white;

  }
  .input-password {
    border-radius: 3px;
    background-color: white;
  }

  .login-box {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.2em;
    color: white;
    position: absolute;
    bottom: 11.5%;
    height: 57.5%;
    width: 100%;
    background-color: #009fe3;
  }
  .submit-btn {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 12%;
    color: white;
    background-color: #494948;
    > .submit-btn-text {
      padding-top: 1.2em !important;
      font-size: 1.25em;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
    }
  }
  .item-input {
    background-color: transparent;
    height: 3.25em;
    border-radius: 8px;
  }
  .item-inner {
    border-bottom: 0 !important;
  }
  .ion-item.item-ios.item.item-block, ion-item.item-md.item.item-block, ion-item.item-wp.item.item-block {
    border-bottom: 0;
  }
  .input-info {
    font-size: .85em !important;
    padding-bottom: .8em;
    padding-left: 2em;
  }
  .text-input {
    font-size: .85em;
  }

}
