<ion-content>
  <div *ngFor="let section of order;">
    <div item-left text-left class="section-name">{{section.title}}</div>
    <ion-list padding-vertical>
      <ion-card *ngFor="let product of section.productList" id="product{{product.id}}">
        <ion-item style="padding-left: 1em;" class="product-item" (click)="selectedProduct(product.id)">
          <div [class]="selectedId===product.id? 'product-name-Active':'product-name-notActive'">{{product.name}}</div>
        </ion-item>
        <ion-grid *ngIf="selectedId===product.id">
          <ion-row>
            <ion-col col-4 class="product-text">Stan magazynu</ion-col>
            <ion-col col-4 class="product-text" style="">Zamowienie</ion-col>
            <ion-col col-4></ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4 class="order-left">{{product.left}} sztuk</ion-col>
            <ion-col col-4 class="order-input">
              <ion-input type="number" [(ngModel)]="product.order"></ion-input>
            </ion-col>
            <ion-col col-4 style="height: 3em;border-radius: 7px; border: 1px solid gray ;margin-top: .4em">
              <ion-select class="selectet-box" [(ngModel)]="product.type" interface="popover"
                          [placeholder]="product.type">
                <ion-option *ngFor="let type of typeList" [value]="type.name">{{type.name}}</ion-option>
              </ion-select>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
