<ion-content>
  <ion-list padding-vertical>
    <ion-card *ngFor="let question of section.questionsList ;index as id; " id="{{id}}">
      <div class="question-header-container" (click)="!question.disabled? clickQuestion(id):doNothing()">
        <!--[disabled]="question.disabled" [color]="question.state" full -->
        <!--style="background-color: transparent">-->
        <ion-row>
          <ion-col col-4>
            <ion-thumbnail class="question-logo">
              <ion-icon align-items-center class="question-logo-arrow" [@rotate]="question.selected"
                        name='arrow-up'></ion-icon>
            </ion-thumbnail>
          </ion-col>
          <ion-col col-8>
            <ion-label class="question-text" text-wrap text-justify>{{question.id}}. {{question.label}}</ion-label>
          </ion-col>
          <!--<ion-col>-->
          <!--<ion-icon  class="question-logo-arrow" [@rotate]="question.selected" name='arrow-up'></ion-icon>-->
          <!--</ion-col>-->
        </ion-row>
      </div>
      <div no-padding [ngSwitch]="question.type" [@expand]="question.selected">
        <ion-item *ngSwitchCase="'input'">
          <ion-input [placeholder]='question.placeholder' [(ngModel)]="question.answer"
                     (ngModelChange)="onChangeModel()">
            </ion-input>
          </ion-item>
        <ion-item *ngSwitchCase="'checkbox'">
          <ion-label float-end>{{question.answer}}</ion-label>
          <ion-label float-right *ngIf="question.answer==false">0 pkt.</ion-label>
          <ion-label float-right *ngIf="question.answer==true">+{{question.defaultValue}} pkt.</ion-label>
          <ion-checkbox [(ngModel)]="question.answer" (ngModelChange)="onChangeModel()"></ion-checkbox>
          </ion-item>
        <ion-item *ngSwitchCase="'select'">
          <ion-select [(ngModel)]="question.answer" (ngModelChange)="onChangeModel()" interface="popover"
                      [placeholder]="question.placeholder">
              <ion-option *ngFor="let answer of question.questionAnswers">
                {{answer.label}} {{answer.value/100*question.defaultValue}} pkt.
              </ion-option>
            </ion-select>
          </ion-item>
        <ion-item *ngSwitchCase="'selectMultiple'">
          <ion-select float-end [(ngModel)]="question.answer" (ngModelChange)="onChangeModel()" interface="popover"
                      multiple="true"
                      [placeholder]="question.placeholder">
              <ion-option *ngFor="let answer of question.questionAnswers">
                {{answer.label}} {{answer.value/100*question.defaultValue}} pkt.
              </ion-option>
            </ion-select>
          </ion-item>
        <!--<ion-item *ngSwitchCase="'range'">-->
        <!--<ion-label style="font-size: small;margin-top: 8px">-->
        <!--Twoj wynik {{question.answer}}-->
        <!--</ion-label>-->
        <!--<ion-range snaps [(ngModel)]="question.answer" min="question.min"-->
        <!--max="question.max" pin="true" style="padding-bottom: 0 ; padding-top: 18px">-->
        <!--<ion-badge range-left>{{rangeMin}}</ion-badge>-->
        <!--<ion-badge range-right>{{rangeMax}}</ion-badge>-->
        <!--</ion-range>-->
        <!--</ion-item>-->
        <button ion-button text-wrap style="width:50px;
        position: relative;
    left: 40%;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    text-align:center;
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
    background-color: #2790f4;
    box-shadow: 0 5px 15px -6px #007fd9;"
                [color]="question.state"
                (click)="(question.state==='wrong'||question.state==='active')&&hint==true? nextQuestionButton(question,id):nextQuestionButton(question,id)">
          <ion-icon name="checkmark"></ion-icon>
          </button>
      </div>
      </ion-card>
  </ion-list>
</ion-content>

