$animation-duration: 0.3s;
page-inquiry-section {
  .scroll-content {
    background: linear-gradient(#dfe5ef, #f3f6f8) !important;
    height: 100%;
    width: 100%;
  }
  .contact {
    width: 120px;
  }
  ion-label.label.label-md {
    margin-top: 2px;
    margin-bottom: 0;
  }
  ion-list.list.list-md {
    margin-bottom: 0;
  }
  .ion-range.range.range-md.ng-tns-c0-0-has.pin.ng-untouched.ng-pristine.ng-valid {
    padding-top: 8px;
  }
  .question-header-container {
    > .question-logo {

      > .question-logo-arrow {
        color: white;

      }
    }
    > .question-text {
      width: 80%;
    }
  }
  .question-text-active {
    padding-top: .25em;
    font-size: 1.1em;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
  }
  .question-text-notActive {
    color: #a0a0a0;
    font-size: 1.1em;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
  }
  .question-logo-active {
    border-radius: 3px;
    margin-left: 0.85em;
    width: 6em;
    min-height: 2.5em;
    height: 100%;
  }
  .question-logo-notActive {
    margin-left: 0.85em;
    width: 6em;
    min-height: 2.5em;
    height: 100%;
    border-radius: 3px;
    background-color: #e5e8ea;
  }
  .button-inner {
  }
  .question-logo-arrow {
    color: white;
    align-content: center !important;
    align-items: center !important;
  }
  .footer {
    border-bottom: 0;
    display: inline-flex;
    color: white;
    height: 3.3em;
    > .footer-param {
      border-bottom: 0 !important;
      width: 35%;
      background-color: #5cdf6e;
    }
    > .footer-points {
      border-bottom: 0 !important;
      width: 65%;
      background-color: #148eff;
    }
  }
  .radio-list {
    border-bottom: 1px solid #ccc;
  }
  .radio-container {
    display: flex;
    border-bottom: 0 !important;
    padding-bottom: .2em;
  }
  .footer-text {
    color: white;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: .9em;
    padding-right: 1em;
  }
  .radio-label {
    padding-left: 1em;
    padding-right: 1em;
    text-align: end;
    font-size: 1.2em;
  }
  .bottom-card {
    margin-left: .5em;
    display: inline-flex;
  }
  .picture {
    margin-top: .5em;
    border: 1px solid gainsboro;
    border-radius: 15%;
    width: 8em;
    height: 6em;

  }
  .round-button {
    float: right;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
  .item-inner {
    border-bottom: 0 !important;
  }

}
