<ion-content>
  <ion-list padding-vertical>
    <ion-card *ngFor="let question of section.questionsList ;index as id; " id="{{id}}">
      <div class="question-header-container" (click)="!question.disabled? clickQuestion(id):doNothing()">
        <ion-row padding-vertical>
          <ion-col col-4>
            <ion-thumbnail [class]="!question.disabled? 'question-logo-active':'question-logo-notActive'"
                           [@state]="question.state">
              <!--<ion-icon align-items-center class="question-logo-arrow" [@rotate]="question.selected"-->
              <!--name='arrow-up'></ion-icon>-->
            </ion-thumbnail>
          </ion-col>
          <ion-col col-8>
            <ion-label [class]="!question.disabled? 'question-text-active':'question-text-notActive'" text-wrap
                       text-justify>{{question.id}}. {{question.label}}
            </ion-label>
          </ion-col>
        </ion-row>
      </div>
      <div no-padding [ngSwitch]="question.type" [@expand]="question.selected">
        <ion-item *ngSwitchCase="'input'">
          <ion-input [placeholder]='question.placeholder' [(ngModel)]="question.answer"
                     (ngModelChange)="onChangeModel()">
            </ion-input>
          </ion-item>
        <ion-item *ngSwitchCase="'checkbox'">
          <ion-label float-end>{{question.answer}}</ion-label>
          <ion-label float-right *ngIf="question.answer==false">0 pkt.</ion-label>
          <ion-label float-right *ngIf="question.answer==true">+{{question.defaultValue}} pkt.</ion-label>
          <ion-checkbox [(ngModel)]="question.answer" (ngModelChange)="onChangeModel()"></ion-checkbox>
          </ion-item>
        <ion-item *ngSwitchCase="'select'">
          <ion-select [(ngModel)]="question.answer" (ngModelChange)="onChangeModel()" interface="popover"
                      [placeholder]="question.placeholder">
              <ion-option *ngFor="let answer of question.questionAnswers">
                {{answer.label}}
              </ion-option>
            </ion-select>
          </ion-item>
        <ion-item *ngSwitchCase="'selectMultiple'">
          <ion-select float-end [(ngModel)]="question.answer" (ngModelChange)="onChangeModel()" interface="popover"
                      multiple="true"
                      [placeholder]="question.placeholder">
              <ion-option *ngFor="let answer of question.questionAnswers">
                {{answer.label}}
              </ion-option>
            </ion-select>
          </ion-item>
        <div *ngSwitchCase="'radio'">
          <ion-list radio-group class="radio-list" [(ngModel)]="question.answer" (ngModelChange)="onChangeModel()"
                    padding-top>
            <ion-item *ngFor="let answer of question.questionAnswers" class="radio-container" margin-top>
              <ion-radio item-start align-items-start padding-horizontal class="radio-value"
                         value="{{answer.label}}"></ion-radio>
              <ion-label class="radio-label">{{answer.label}}</ion-label>
            </ion-item>
          </ion-list>
        </div>
        <!--<ion-item *ngSwitchCase="'range'">-->
        <!--<ion-label style="font-size: small;margin-top: 8px">-->
        <!--Twoj wynik {{question.answer}}-->
        <!--</ion-label>-->
        <!--<ion-range snaps [(ngModel)]="question.answer" min="question.min"-->
        <!--max="question.max" pin="true" style="padding-bottom: 0 ; padding-top: 18px">-->
        <!--<ion-badge range-left>{{rangeMin}}</ion-badge>-->
        <!--<ion-badge range-right>{{rangeMax}}</ion-badge>-->
        <!--</ion-range>-->
        <!--</ion-item>-->
        <div class="bottom-card" float-left item-start>
          <img *ngIf="question.photo" class="picture" [src]="question.photo" (press)="presentActionSheet(question)">
          <button *ngIf="question.camera" ion-button text-wrap
                  class="round-button"
                  [color]="question.state" (click)="takePicture()">
          <ion-icon name="camera"></ion-icon>
        </button>
          <button ion-button text-wrap class="round-button"
                  [color]="question.state"
                  (click)="(question.state==='wrong'||question.state==='active')&&hint==true? nextQuestionButton(question,id):nextQuestionButton(question,id)">
          <ion-icon name="checkmark"></ion-icon>
          </button>
        </div>
      </div>
      </ion-card>
  </ion-list>
</ion-content>
<ion-footer class="footer" style="display: inline-flex" [hidden]="keyboard.isOpen()">
  <ion-item item-start class="footer-param">
    <ion-label class="footer-text">
      PSR:80
    </ion-label>
  </ion-item>
  <ion-item item-end class="footer-points">
    <ion-label class="footer-text">
      PKT:0/20
    </ion-label>
  </ion-item>
</ion-footer>

