$animation-duration: 0.3s;
page-inquiry-section {
  .scroll-content {
    background: linear-gradient(#dfe5ef, #f3f6f8) !important;
    height: 100%;
    width: 100%;
  }
  .contact {
    width: 120px;
  }
  ion-label.label.label-md {
    margin-top: 2px;
    margin-bottom: 0;
  }
  ion-list.list.list-md {
    margin-bottom: 0;
  }
  .ion-range.range.range-md.ng-tns-c0-0-has.pin.ng-untouched.ng-pristine.ng-valid {
    padding-top: 8px;
  }
  .list-param {
    margin: 0 1rem 0 0 !important;
    min-height: 100% !important;
    height: inherit;
    min-width: 4.5em;
    color: white;
    border-radius: 3px;
    background-color: #5cdf6e;
    box-shadow: 0 5px 15px -2px #2bd900;
    padding-top: 15px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
  }


}
