<ion-content>
  <ion-list margin-bottom="0">
    <ion-card margin-bottom="0" *ngFor="let question of section.questionsList"
              style="border: none ;max-height: 210px;padding-left: 0;padding-right: 0; padding-top: 0" no-border
              no-lines
              id="{{question.id}}">
        <ion-card-title>

          <button ion-button clear block style="padding-left: 0"
                  (click)="selectQuestion(question.id)"
                  [disabled]="disabledQuestion(question)" [color]="questionSelected(question.id)? 'default':'gray'">
            <ion-item>
              <ion-avatar item-start>
                <img style="background-color:cornflowerblue">
              </ion-avatar>
              <ion-label [color]="questionSelected(question.id)? 'primary':'gray'" text-left
                         style="font-size: large; padding-left: 10px">
                {{question.id}}. {{question.label}}
              </ion-label>
            </ion-item>
            <ion-icon [@rotate]="question.selected" name='arrow-up' item-right float-right></ion-icon>
          </button>
        </ion-card-title>
      <ion-card-content no-padding [ngSwitch]="question.type" [@expand]="question.selected"
                        style="padding-bottom: 8px;">
        <ion-item *ngSwitchCase="'input'">
            <ion-input [placeholder]='setInputPlaceHolder(question.id)' [(ngModel)]="question.answer">
            </ion-input>
          </ion-item>
        <ion-item *ngSwitchCase="'checkbox'">
            <ion-label float-end>
              {{question.answer}}
            </ion-label>
          >
          <ion-label float-right *ngIf="question.answer==false">
              0 pkt.
            </ion-label>
          <ion-label float-right *ngIf="question.answer==true">
              +{{question.defaultValue}} pkt.
            </ion-label>
          <ion-checkbox [(ngModel)]="question.answer"></ion-checkbox>
          </ion-item>
        <ion-item *ngSwitchCase="'select'">
            <ion-select [(ngModel)]="question.answer" interface="popover"
                        [placeholder]="setSelectPlaceholder(question)">
              <ion-option *ngFor="let answer of question.questionAnswers">
                {{answer.label}} {{answer.value/100*question.defaultValue}} pkt.
              </ion-option>
            </ion-select>
          </ion-item>
        <ion-item *ngSwitchCase="'selectMultiple'">
            <ion-select float-end [(ngModel)]="question.answer" interface="popover" multiple="true"
                        [placeholder]="setSelectPlaceholder(question)">
              <ion-option *ngFor="let answer of question.questionAnswers">
                {{answer.label}} {{answer.value/100*question.defaultValue}} pkt.
              </ion-option>
            </ion-select>
          </ion-item>
        <ion-item *ngSwitchCase="'range'">
          <ion-label style="font-size: small;margin-top: 8px">
            Twoj wynik {{question.answer}}
          </ion-label>
            <ion-range snaps [(ngModel)]="question.answer" [min]="setRangeValue(question,'min')"
                       [max]="setRangeValue(question,'max')" pin="true" style="padding-bottom: 0 ; padding-top: 18px">
              <ion-badge range-left>{{rangeMin}}</ion-badge>
              <ion-badge range-right>{{rangeMax}}</ion-badge>
            </ion-range>
          </ion-item>
        <button ion-button full clear text-wrap style="padding-bottom: 0"
                *ngIf="(maxQuestionValue(question)&&questionSelected(question.id))&&hint==true"
                (click)="showAlert(question)">Dalej
          </button>
        <button ion-button full clear text-center style="padding-bottom: 0"
                *ngIf="!(maxQuestionValue(question)||!questionSelected(question.id))||hint==false"
                (click)="nextQuestionButton()">
            Dalej
          </button>
        </ion-card-content>
      </ion-card>
  </ion-list>
</ion-content>

