$animation-duration: 0.3s;
page-inquiry-section {
  .scroll-content {
    height: 100%;
    width: 100%;
  }
  .contact {
    width: 120px;
  }
  ion-label.label.label-md {
    margin-top: 2px;
    margin-bottom: 0;
  }
  ion-list.list.list-md {
    margin-bottom: 0;
  }
  ion-icon.header-icon {
    will-change: transform;
    transition: transform $animation-duration ease;

    &.rotate {
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      transform: rotate(-180deg);
    }
  }
  div.options {
    will-change: height;
    transition: height $animation-duration ease;
    overflow-y: hidden;
    height: 0;
  }
  .rotate-90 {
    display: inline-block;
    transform: rotate(90deg);
    transition-duration: 12s;
  }
  .toolbar-title.toolbar-title-md {
    color: inherit;
  }
  .spin {
    animation-name: spin;
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .rotate180 {
    display: inline-block;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all linear 200ms;
    transition: all linear 200ms;
  }

  .rotate-back {
    display: inline-block;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all linear 200ms;
    transition: all linear 200ms;
  }


}
