page-plan {
  .scroll-content {
    background: linear-gradient(#dfe5ef, #f3f6f8) !important;
  }
  .title {
    padding-top: .65em;
    padding-left: .8em;
    font-size: 1.2em;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: left;
  }
  .list-item {
    padding: 0 0 0 0 !important;
    display: inline-flex;
  }
  .item-param {
    position: absolute;
    top: .65em;
    font-size: 0.8em;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.86;
    letter-spacing: normal;
    text-align: left;
  }
  .item-value {

    margin: .35em 1em .25em 0 !important;
    width: 16em;
    font-size: .85em !important;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.86;
    letter-spacing: normal;
    text-align: right;
  }
  .item-inner {
    min-height: 10px !important;
    padding-right: 0 !important;
  }
  .title-icon.icon.icon-md.ion-md-warning::before {
    margin-right: 0.35em;
    color: white;
    padding-top: 4px;
    padding-left: 8.5px;
    height: 33px;
    margin-bottom: 7px;
    width: 30px;
    border-radius: 50%;
    background-color: #f4b518;
    box-shadow: 0 13px 15px -13px #0099d0;
  }

  .input-wrapper {
    min-height: 1em !important;
  }
  .logo {
    width: 7em;
    height: 7em;
    border-radius: 3px;
    background-color: #fa6262;
    box-shadow: 0 5px 15px -6px #d90000;
    > .logo-value {
      color: white;
      font-size: 1.6em;
      padding-top: 35%;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
    }
  }
  .card-text {
    font-size: 1em;
    padding-top: .5em;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
  }
  .date-text {
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-size: 0.7em;
    width: 100%;
    display: inline-flex;
    color: #8b8b8b;
    > .info {
      position: absolute;
      left: 2.8em;
    }
    > .value {
      position: absolute;
      right: 1.5em;
    }
  ;
  }
}
