<!--
  Generated template for the PlanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding-vertical>
  <ion-list>
    <ion-card *ngFor="let task of data">
      <ion-card-header no-padding no-margin>
        <div class="title" text-left>
          {{task.title}}
          <ion-icon class="title-icon" float-end item-end name="warning"></ion-icon>
        </div>
      </ion-card-header>
      <ion-card-content no-padding padding-left>
        <ion-list no-padding>
          <ion-item no-padding class="list-item" *ngFor="let param of task.paramList">
            <div class="item-param" float-start>{{param.name}}:</div>
            <div class="item-value" text-wrap item-end text-end>{{param.value}}</div>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
