page-add-visit {
  .scroll-content {
    background: linear-gradient(#dfe5ef, #f3f6f8) !important;
  }
  .add-text {
    margin-top: 2em;
    padding-left: 1em;
    margin-bottom: 1.5em;
    font-size: 1.2em;
  }
  .text-remind {
    margin-top: 1.75em;
    font-size: 1em;
    margin-bottom: 1.5em;
    padding-left: .8em;
  }
  .starter {
    z-index: 200000;
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  .visit {
    margin-left: 1em;
    color: #a0a0a0;
    height: 2em;
  }
  .value {
    margin-left: 1em;
    color: #4a4a4a;
  }
  .visit-line {
    display: inline-flex;
  }
  .visit-box {
    margin-left: .5em;
    padding-top: .5em;
    padding-bottom: .15em;
  }
  .button-save {
    margin-left: 5%;
    width: 90%;
  }
  .list-scroll {
    height: 23.75em;
  }

}
