<ion-header>
  <ion-toolbar no-padding style="height: 55px">
    <ion-item no-padding style="border-bottom:none;background-color: inherit;padding-left: 0;padding-right: 0">
      <ion-scroll class="item-scroll" scrollX="true" style="height: 55px;padding-right: 0;">
        <ion-buttons>
          <button *ngFor="let object of List;index as index"
                  id="{{object.name}}" [class]="object.name===selectedId? 'button-Active':'button-notActive'"
                  (click)="openPage(index)">{{object.name}}
          </button>
        </ion-buttons>
      </ion-scroll>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--<ion-slides (ionSlideDidChange)="slideChanged()">-->
  <!--<ion-slide *ngFor="let page of List">-->
  <ion-nav></ion-nav>
  <!--</ion-slide>-->
  <!--</ion-slides>-->
</ion-content>
