page-extra {
  .scroll-content {
    background: linear-gradient(#dfe5ef, #f3f6f8) !important;
  }
  .back-button {
    display: inline-flex;
  }
  .question-text {
    margin-left: 0.5em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    font-size: 1.5em !important;
  }
  .foto-button {
    margin-top: .75em;
    height: 3em;
    width: 90%;
    margin-left: 5%;
  }
}
