<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-slides>
    <ion-slide>
      <ion-scroll scrollY="true">
        <ion-list>
          <ion-card *ngFor="let question of section.questionsList" (*ngIf)="visibilityQuestion(question)"
                    id="{{question.id}}">
          <ion-card-header>
            <ion-card-title>
              <ion-label>
                {{question.id}}. {{question.label}}
                <button ion-button item-right clear (click)="selectQuestion(question.id)"
                        [disabled]="disabledQuestion(question)">
                  <ion-icon *ngIf="question.id==selectedQuestion" name="arrow-up"></ion-icon>
                  <ion-icon *ngIf="question.id!=selectedQuestion" name="arrow-down"></ion-icon>
                </button>
              </ion-label>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content *ngIf="questionSelected(question.id)">
            <ion-item *ngIf="question.type==='input'">
              <ion-input [placeholder]='setInputPlaceHolder(question.id)' [(ngModel)]="question.answer">
              </ion-input>
            </ion-item>
            <ion-item *ngIf="question.type ==='checkbox'">
              <ion-checkbox [(ngModel)]="question.answer"></ion-checkbox>
            </ion-item>
            <ion-item *ngIf="question.type==='select'">
              <ion-select [(ngModel)]="question.answer">
                <ion-option *ngFor="let answer of question.questionAnswers">
                  {{answer.label}}
                </ion-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="question.type==='selectMultiple'">
              <ion-select multiple="true" [(ngModel)]="question.answer">
                <ion-option *ngFor="let answer of question.questionAnswers">
                  {{answer.label}}
                </ion-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="question.type==='range'">
              <ion-range min="question.answer[1].label" max="question.answer[0].label" pin="true">
              </ion-range>
            </ion-item>
            <button ion-button clear (click)="nextQuestionButton()">Dalej</button>
          </ion-card-content>
        </ion-card>
      </ion-list>
      </ion-scroll>
    </ion-slide>
  </ion-slides>
</ion-content>


<ion-footer>
  <ion-label>
    TWOJ WYNIK: {{sectionResult}}/{{section.maxValue}}
  </ion-label>
</ion-footer>


