<ion-header>
  <ion-navbar padding-top padding-bottom>
    <button start ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="width: 150px">
      {{client.name}}
    </ion-title>
    <ion-buttons end class="button-container">
      <button ion-button>
        <div>
          <ion-thumbnail class="header-thumbnail">44.5</ion-thumbnail>
          <p class="header-text">FSM</p>
        </div>
      </button>
      <button ion-button>
        <div>
          <ion-thumbnail class="header-thumbnail">44.5</ion-thumbnail>
          <p class="header-text">FSM</p>
        </div>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-padding>
    <ion-item no-padding class="toolbar-container"
              style="border-bottom:none;background-color: inherit;padding-left: 0;padding-right: 0">
      <ion-scroll scrollX="true" class="toolbar-scroll">
        <ion-col *ngFor="let object of List;index as id">
          <button ion-button *ngIf="id===selectedId" class="Active" (click)="openPage(object.componentName,id)">
            <div class="button-inside">
              <ion-icon class="button-icon" [name]="object.icon">
              </ion-icon>
              <p class="p-Active">{{object.name}}</p>
            </div>
          </button>
          <button ion-button *ngIf="id!==selectedId" class="notActive" (click)="openPage(object.componentName,id)">
            <div>
              <ion-icon class="button-icon" [name]="object.icon">
              </ion-icon>
              <p class="p-notActive">{{object.name}}</p>
            </div>
          </button>
        </ion-col>
      </ion-scroll>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-nav root="ClientMessagesPage"></ion-nav>
</ion-content>
