page-client-menu {
  .button.Active {
    background-color: #1aa7de;
    color: white;

  }
  .button.notActive {
    background-color: #eff1f4;
    color: #272727;
  }
  .p-Active {
    color: white;
  }
}

