<!--
  Generated template for the AddActionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>AddAction</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>
        Title
      </ion-label>
      <ion-input text-end></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Type
      </ion-label>
      <ion-select [(ngModel)]="action.type">
        <ion-option >
          Rozmowa telefoniczna
        </ion-option>
        <ion-option>
          Spotkanie
        </ion-option>
        <ion-option value="ZgodaNaSeminarium">
          Zgoda na Seminarium
        </ion-option>
        <ion-option>
          Zgoda na IQOS Space
        </ion-option>
        <ion-option>
          Uruchomienie IQOS Space
        </ion-option>
        <ion-option value="Seminarium">
          Seminarium
        </ion-option>
    </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" >
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" >
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>
        Comment :
      </ion-label>
      <ion-input>
      </ion-input>
    </ion-item>
    <ion-item *ngIf="action.type==='ZgodaNaSeminarium'">
      <ion-label>
        Localisation
      </ion-label>
      <ion-input text-end></ion-input>
    </ion-item>
    <ion-item *ngIf="action.type==='ZgodaNaSeminarium'">
      <ion-label>
        Spodziewana liczba osób
      </ion-label>
      <ion-input text-end>
      </ion-input>
    </ion-item>
    <ion-item *ngIf="action.type==='ZgodaNaSeminarium'">
      <ion-label >
      Liczba IQOS Coachy
      </ion-label>
      <ion-input text-end>
      </ion-input>
    </ion-item>
    <ion-item *ngIf="action.type==='Seminarium'">
      <ion-label>
      Czy PMI GO uczestniczył
      </ion-label>
      <ion-checkbox>

      </ion-checkbox>
    </ion-item>
    <ion-item *ngIf="action.type==='Seminarium'">
      <ion-label>
      Dane IQOS Coachy
      </ion-label>
      <ion-input>

      </ion-input>
    </ion-item>
    <ion-item *ngIf="action.type==='Seminarium'">
      <ion-label>
        Liczba uczestników
      </ion-label>
      <ion-input text-end>

      </ion-input>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer >
  <button ion-button  clear full  (click)="AddAction()">Add Action</button>
</ion-footer>
