page-realization-detail {

  .logo {
    margin-right: 1em !important;
    width: 5em;
    height: 5em;
    border-radius: 3px;
    background-color: #5cdf6e;
    box-shadow: 0 5px 15px -2px #2bd900;
    > .logo-value {
      color: white;
      font-size: 1.6em;
      padding-top: 35%;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
    }
  }
  .card-text {
    width: 100%;
    font-size: .9em;
    padding-top: .5em;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  .back-button {
    display: inline-flex;
  }
}

