page-summary {
  .scroll-content {
    background: linear-gradient(#dfe5ef, #f3f6f8) !important;
  }
  .thumbnail-logo {
    width: 6.5em;
    border-radius: 3px;
    background-color: #148eff;
    box-shadow: 0 5px 15px -6px #007fd9;
    min-height: 45px;
    > .thumbnail-logo-text > .toolbar-title {
      font-weight: bold;
      color: white;
      padding-top: .65em;
      padding-left: 1.25em;

    }
  }

}
