<ion-header *ngIf="headerShow!=false">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Baza wiedzy</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div padding-bottom padding-top class="header-title">
    Dostepne materiały
  </div>
  <ion-list no-padding>
    <ion-card *ngFor="let data of knowledgeList">
      <ion-item no-padding>
        <ion-icon item-start class="logo" [name]="data.icon"></ion-icon>
        <h2 class="title">{{data.title}}</h2>
        <h3 class="subtitle">{{data.subtitle}}</h3>
        <p class="extra-param">{{data.numberOfPages}} strony</p>
        <ion-icon item-end name="ios-arrow-forward">
        </ion-icon>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
