page-knowlegde-base {

  .scroll-content {
    background: linear-gradient(#e8eef8, #f3f6f8) !important;
  }
  .header-title {;
    padding-left: 1em;
    padding-top: .2em;
    background-color: transparent;
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: left;
  }
  .logo {
    color: white;
  }
  .title {
    font-size: .98em;
    letter-spacing: .3px;
    font-weight: 600;
  }
  .subtitle {
    letter-spacing: .3px;
    margin-top: .6em;
    margin-bottom: .6em;
    font-weight: 600;
  }
  .extra-param {
    color: #a0a0a0;
  }
}
