page-knowlegde-base {
  .header-title {
    padding-left: 1em;
    padding-top: .2em;
    //font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: left;
  }

}
