page-menu {
  .navbar {
    height: 12em;
    padding: 0 0 0 0;
  }
  .navbar-item {
    border-bottom: 0 !important;
    background-color: white;
    box-shadow: 0 2px 14px 0 #b2acd2;
    height: 12em !important;
  }
  .header-avatar {
    width: 5em;
    height: 5em;
  }
  .header-avatar-image {
    width: 5em !important;
    height: 5em !important;
  }
  .navbar-text {
    font-size: 1.2em;
    color: #4e4e4e;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
  }
  .header-image-logo {
    width: 5.7em;
    height: 1.75em;
  }
  .param-row {
  }
  .param-col {
    background-color: #6be280;
  }
  .param-col-label {
    background-color: #488aff;
  }

  .thumbnail-list {
    display: inline-flex;
    color: white;
    position: absolute;
    top: 82.5%;
    left: 7%;

  }

  .list-param {
    margin-left: .25em;
    padding-top: 0.8em;
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
    width: 2.75em;
    height: 2.75em
  }
  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    width: 0;
  }
  .navbar-rest {
  }
  .label-md {
    //margin-top: 0;
  }

}
