page-delivery {
  .scroll-content {
    background: linear-gradient(#dfe5ef, #f3f6f8) !important;
    height: 100%;
    width: 100%;
  }
  .item {
    padding-right: 0 !important;
    padding-left: 1em !important;
    height: 4em !important;
  }
  .label-param {
    color: #656565;
    font-size: 0.95em;
  }
  .label-value {
    padding-right: .5em;
    text-align: right;
    margin-right: 0 !important;
    font-size: 0.95em;
  }
  .title-delivery {
    float: left;
    margin-bottom: 1em;
    margin-left: 1em;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: left;

  }

}
